*,
*::after,
*::before {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

@keyframes MoveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes MoveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes MoveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes MoveButton {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.rainbow {
  height: .5rem;
  width: 70rem;
  position: relative;
  margin: auto;
  background: linear-gradient(124deg, #f80449, #b406c4, #f56629);
  background-size: 1800% 1800%;
  border-radius: 100px;
  -webkit-animation: rainbow 12s ease infinite;
  -z-animation: rainbow 12s ease infinite;
  -o-animation: rainbow 12s ease infinite;
  animation: rainbow 12s ease infinite;
  box-shadow: 0 0.5rem, black 0.4; }

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%; }
  50% {
    background-position: 100% 19%; }
  100% {
    background-position: 0% 82%; } }

@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%; }
  50% {
    background-position: 100% 19%; }
  100% {
    background-position: 0% 82%; } }

@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%; }
  50% {
    background-position: 100% 19%; }
  100% {
    background-position: 0% 82%; } }

@keyframes rainbow {
  0% {
    background-position: 0% 82%; }
  50% {
    background-position: 100% 19%; }
  100% {
    background-position: 0% 82%; } }

body {
  font-family: 'Epilogue', sans-serif;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary-main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: MoveInLeft 1s ease-out; }
  .heading-primary-sub {
    display: block;
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 1.75rem;
    animation: MoveInRight 1s ease-out; }

.heading-secundary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: .5rem; }

.heading-tertiary {
  font-size: 1.9rem;
  font-weight: 500;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.center-u-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, #f0895dcc, #b83b5fcc, #6a2c70cc), url(../img/header-conejo-2.jpg);
  background-position: center;
  background-size: cover;
  transform: skewy(-7deg);
  margin-top: -10rem; }
  .section-features > * {
    transform: skewy(7deg); }

.section-tour {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -20vh; }

.section-stories {
  padding: 3rem 0;
  position: relative; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem #000 0.2; }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem #000 0.2; }

.btn-white {
  background-color: #fff;
  color: #b83b5e; }
  .btn-white::after {
    background-color: #fff; }

.btn-pink {
  margin-top: 15rem;
  background-color: #b83b5e;
  color: white; }
  .btn-pink::after {
    background-color: #b83b5e; }

.btn-animated {
  animation: MoveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #b83b5e;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #b83b5e;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #b83b5e;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.bg-video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  z-index: -1;
  overflow: hidden;
  filter: opacity(30%); }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.card {
  perspective: 150rem;
  position: relative;
  height: 51rem; }
  .card__heading {
    height: 51rem;
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 21rem;
    right: 2rem;
    text-align: right;
    width: 75%; }
  .card__heading-span-1 {
    background-image: linear-gradient(to right bottom, rgba(184, 59, 94, 0.85), rgba(240, 138, 93, 0.85));
    padding: 1rem 1.5rem; }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1.5rem;
        list-style: none; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card-picture {
    background-size: cover; }
    .card-picture-1 {
      background-image: url(../img/adopcion-1.jpg);
      font-size: 16rem;
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card-picture-2 {
      background-image: url(../img/adopcion-2.jpg);
      font-size: 16rem;
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card-picture-3 {
      background-image: url(../img/adopcion-3.jpg);
      font-size: 16rem;
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
  .card__side {
    height: 60rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 4px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    overflow: hidden; }
    .card__side-front {
      background-color: #fff; }
    .card__side-back {
      transform: rotateY(180deg); }
  .card:hover .card__side-front {
    transform: rotateY(-180deg); }
  .card:hover .card__side-back {
    transform: rotateY(0); }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%; }
  .card__price-box {
    margin-bottom: 8rem;
    color: white; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 3rem; }

.back-1 {
  background-image: linear-gradient(to right bottom, #f08a5d, #b83b5e); }

.back-2 {
  background-image: linear-gradient(to right bottom, #b83b5e, #6a2c70); }

.back-3 {
  background-image: linear-gradient(to right bottom, #6a2c70, #f08a5d); }

.composition {
  position: relative;
  margin-left: 8rem; }
  .composition__photo {
    width: 45%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    transition: all .2s;
    z-index: 10;
    outline-offset: 1.6rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 8rem;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 16rem; }
    .composition__photo:hover {
      outline: 0.6rem solid #b83b5e;
      transform: scale(1.2) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all .3s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    position: relative;
    display: inline-block;
    background-image: linear-gradient(to right, #f08a5d, #b83b5e, #6a2c70);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.05rem) scale(1.03); }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg);
  position: relative; }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    clip-path: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    backface-visibility: hidden;
    margin-right: 30px;
    transform: skewX(12deg);
    -webkit-shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    outline: 0px transparent !important;
    position: relative; }
  .story__img {
    height: 100%;
    margin: 0 auto;
    transition: all .5s;
    transform: scale(1);
    outline: 0px transparent !important;
    position: absolute; }
  .story__text {
    transform: skewX(12deg); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: scale(0.9);
    filter: blur(3px) brightness(80%);
    clip-path: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%); }

.navigation-checkbox {
  display: none; }

.navigation-button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }

.navigation-background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#b83b5f, #f0895d);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  z-index: 1000; }

.navigation-nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation-list {
  position: absolute;
  margin: 18rem auto;
  list-style: none;
  text-align: center;
  transition: all .8s;
  width: 100%; }

.navigation-item {
  margin-bottom: 1rem; }

.navigation-link:link, .navigation-link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 300%;
  transition: all .5s; }

.navigation-link:hover, .navigation-link:active {
  background-position: 100%;
  color: #f0895d;
  transform: translateX(1rem); }

.navigation-checkbox:checked ~ .navigation-background {
  transform: scale(100); }

.navigation-checkbox:checked ~ .navigation-nav {
  opacity: 1;
  width: 100%; }

.navigation-icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation-icon, .navigation-icon::after, .navigation-icon::before {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation-icon::after, .navigation-icon::before {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation-icon::before {
    top: -.8rem; }
  .navigation-icon::after {
    top: .8rem; }

.navigation-button:hover .navigation-icon::before {
  top: -1rem; }

.navigation-button:hover .navigation-icon::after {
  top: 1rem; }

.navigation-checkbox:checked + .navigation-button .navigation-icon {
  background-color: transparent; }

.navigation-checkbox:checked + .navigation-button .navigation-icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation-checkbox:checked + .navigation-button .navigation-icon::after {
  top: 0;
  transform: rotate(-135deg); }

.header {
  height: 91vh;
  background-image: linear-gradient(to right bottom, #f0895dcc, #b83b5fcc, #6a2c70cc), url(../img/bunnyhead.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 3rem;
    left: 3rem; }
  .header__logo-bunny {
    height: 5.5rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center; }

.footer {
  background-color: #333;
  color: #fff;
  padding: 10rem 0;
  font-size: 1.4rem; }
  .footer-logo {
    text-align: center; }
    .footer-logo-bunny {
      position: relative;
      bottom: 5rem;
      left: 40rem;
      width: 13rem;
      height: auto; }
  .footer-list {
    list-style: none; }
  .footer-item {
    display: inline-block; }
    .footer-item:not(:last-child) {
      margin-right: 2rem; }
    .footer-item-link:link, .footer-item-link:visited {
      color: #ffffff;
      text-transform: uppercase;
      text-decoration: none;
      display: inline-block;
      transition: all .2s; }
    .footer-item-link:hover, .footer-item-link:active {
      transform: translateY(-5px); }
  .footer-copyright {
    border-top: 1px solid #eee;
    padding-top: 2rem;
    width: 80%;
    float: right; }
  .footer-navigation {
    border-top: 1px solid #eee;
    padding-top: 2rem;
    display: inline-block; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
    .row .col-1-of-2:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
