/* COLORS

Orange: #f08a5d
pink: #b83b5e
Purple: #6a2c70

*/ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    font-family: 'Epilogue', sans-serif;
    font-size: 16x;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    height: 91vh;
    background-image: linear-gradient(
        to right bottom,
            #f0895dcc,#b83b5fcc,#6a2c70cc) ,
                url(../img/bunnyhead.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
}

.logo-box {
    position: absolute;
    top: 30px;
    left: 30px;
}

.logo-bunny {
    height: 55px; 
}
.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.title-box {
    position: absolute;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 60px;
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    text-align: center;

    animation: MoveInLeft 1s ease-out;
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    letter-spacing: 17.4px;
    animation: MoveInRight 1s ease-out;
}

@keyframes MoveInLeft {

    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes MoveInRight {

    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.btn-white {
    background-color: #fff;
    color: #777;
}