
$color-primary: #b83b5e;
$color-secundary: #6a2c70;
$color-tertiary: #f08a5d;
$text-color-light: #777; 
$color-white: #fff;
$color-black: #000; 
$color-light-grey-1: #f7f7f7; 

//GRID

$grid-witdh: 114rem; 

$gutter-vertical: 8rem;

$gutter-horizontal: 6rem;



$default-font: 1.6rem; 


