// COLORS
$color-primary: #b83b5e;
$color-secundary: #6a2c70;
$color-tertiary: #f08a5d;
$text-color-light: #777; 
$color-white: #fff;
$color-black: #000; 

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    
}

html {
    font-size: 62.5%;
    box-sizing: inherit;
}

body {
    font-family: 'Epilogue', sans-serif;
    line-height: 1.7;
    color: $text-color-light;
    padding: 3rem; 
    box-sizing: border-box;  
}

/* HEADER */ 

.header {
    height: 91vh;
    background-image: linear-gradient(
        to right bottom,
            #f0895dcc,#b83b5fcc,#6a2c70cc) ,
                url(../img/bunnyhead.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;

    &__logo-box {
        position: absolute;
    top: 3rem;
    left: 3rem;
    }

    &__logo-bunny {
        height: 5.5rem; 
    }

    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -40%);
        text-align: center; 
    }
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;
    
}

.heading-primary-main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation: MoveInLeft 1s ease-out;
}

.heading-primary-sub {
    display: block;
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 1.75rem;
    animation: MoveInRight 1s ease-out;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    font-size: 1.6rem;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem $color-black .2;
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem $color-black .2;
}
.btn-white {
    background-color: $color-white;
    color: $color-primary;
}
.btn-animated {
    animation: MoveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}

.btn::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s ;
}

.btn-white::after {
    background-color: $color-white;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;  

}

/* KEYFRAMES*/ 

@keyframes MoveInLeft {

    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes MoveInRight {

    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes MoveInBottom {

    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

 /* MEDIA */ 

@media (max-width: 666px) {
    html {
        font-size: 31.25% ; 
    }
}