.section-about {
    background-color: $color-light-grey-1;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom,
            #f0895dcc,#b83b5fcc,#6a2c70cc) ,
                url(../img/header-conejo-2.jpg);
                background-position: center;
                background-size: cover;
                transform: skewy(-7deg);
                margin-top: -10rem;

                & > * {
                    transform: skewy(7deg);
                }
}

.section-tour {
    background-color: $color-light-grey-1;
    padding: 25rem 0 15rem 0;
    margin-top: -20vh;
}